<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}My GitHunter!!!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>

        {% include 'githut/navbar-header.html.twig' %}

        <div class="container">
            <div class="starter-template">
                <h1>My GitHunter Symfony 4 Flex App</h1>
                <p class="lead">
                    This app will see you creating a web page that grabs your (or anyone else)
                    <br/> <a href="https://github.com/{{ username }}" target="_blank">GitHub</a> profile and repository data for display on your own Symfony site.
                </p>
                <p>Just type github username in URL!!!</p>
                <p>For example: <em>http://example.com/githut/<strong>{username}</strong></em>, where {username} is your github username.</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div><!-- /.container -->

        {% block javascripts %}{% endblock %}
    </body>
</html>
