<span class="pull-left">
    <a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a>
    <br />
    <span class="small">{{ repo.description }}</span>
</span>

<span class="pull-right">
    {{ repo.stargazers_count }} <i class="glyphicon glyphicon-star"></i>
</span>

<div class="clearfix"></div>